<div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Choose a resource type</label>
        <md-select ng-model="vm.search.resource" ng-change="vm.clearResults()">
            <md-option ng-repeat="type in vm.resourceTypes" value="{{type}}">{{type}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
        <label>Keyword</label>
        <input ng-model="vm.search.keyword">
    </md-input-container>
</div>

<md-button ng-click="vm.searchSwapi(vm.search)" class="md-raised md-primary">Search</md-button>

<h3>Search Results</h3>

<!--People-->

<md-card ng-if="vm.search.resource === 'people'" ng-repeat="result in vm.searchResults.list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{result.name}}</span>
            <span class="md-subhead">Born: {{result.birth_year}}</span>
            <span class="md-subhead">Gender: {{result.gender}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Favorite</md-button>
    </md-card-actions>
</md-card>

<!--Films-->
<md-card ng-if="vm.search.resource === 'films'" ng-repeat="result in vm.searchResults.list | orderBy: 'episode_id'" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{result.title}}</span>
            <span class="md-subhead">Episode: {{result.episode_id}}</span>
            <span class="md-subhead">Release Date: {{result.release_date | date}}</span>
            <span class="md-subhead">Director: {{result.director}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Favorite</md-button>
    </md-card-actions>
</md-card>

<!--Starships-->
<md-card ng-if="vm.search.resource === 'starships'" ng-repeat="result in vm.searchResults.list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{result.name}}</span>
            <span class="md-subhead">Model: {{result.model}}</span>
            <span class="md-subhead">Cost: {{result.cost_in_credits}}</span>
            <span class="md-subhead">Passengers: {{result.passengers}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Favorite</md-button>
    </md-card-actions>
</md-card>

<!--Vehicles-->
<md-card ng-if="vm.search.resource === 'vehicles'" ng-repeat="result in vm.searchResults.list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{result.name}}</span>
            <span class="md-subhead">Model: {{result.model}}</span>
            <span class="md-subhead">Cost: {{result.cost_in_credits}}</span>
            <span class="md-subhead">Passengers: {{result.passengers}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Favorite</md-button>
    </md-card-actions>
</md-card>

<!--Species-->
<md-card ng-if="vm.search.resource === 'species'" ng-repeat="result in vm.searchResults.list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{result.name}}</span>
            <span class="md-subhead">Classification: {{result.classification}}</span>
            <span class="md-subhead">Language: {{result.language}}</span>
            <span class="md-subhead">Average Lifespan: {{result.average_lifespan}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Favorite</md-button>
    </md-card-actions>
</md-card>

<!--Starships-->
<md-card ng-if="vm.search.resource === 'planets'" ng-repeat="result in vm.searchResults.list" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{result.name}}</span>
            <span class="md-subhead">Population: {{result.population}}</span>
            <span class="md-subhead">Climate: {{result.climate}}</span>
            <span class="md-subhead">Terrain: {{result.terrain}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Favorite</md-button>
    </md-card-actions>
</md-card>